.headerParent {
    background-color: #0a2756;
    height: '30vh';
    display: flex;
    justify-content: space-between;
    padding: 5vw;
}

#header-text {
    font-size: xx-large;
    color: #e3e3e3;
}