#profilepic {
    overflow: hidden;
    width:200px;
    height: 150px;
}

#profilepic img {
    object-fit: contain;
    object-position: left;
    max-width: 80%;
    height: 200px;
}

#about-me-title {
    display: flex;
    justify-content: center;
}

#p-about {
    display: flex;
    text-align: center;
}